.color-variants__swatch-list {
  --swatch-background: gray;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.color-variants__swatch {
  display: block;
  border-radius: 100%;
  outline: 1px solid transparent;
  outline-offset: 1px;
  background: var(--swatch-background);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.color-variants__swatch.selected {
  outline-color: black;
}

.color-variants__remaining {
  display: none;
  font-weight: bold;
  padding-left: 3px;
}

@media screen and (max-width: 699px) {
  .color-variants__swatch.hide-mobile {
    display: none;
  }

  .color-variants__swatch.hide-mobile ~ .color-variants__remaining {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .color-variants__swatch.hide-desktop {
    display: none;
  }

  .color-variants__swatch.hide-desktop ~ .color-variants__remaining {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  scroll-carousel.product-list.product-list--carousel.scroll-area.md\:unbleed {
    padding-left: 2px;
    scroll-padding-inline: 2px;
  }
}
